# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env 
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# hidden files and folders in the DS folder:


# hidden files and folders in the DL folder:

dl/.source

# python venv:

# ds/venv
# dl/venv
venv

# python:

__pycache__

.idea/
